rounded($radius) 
  -webkit-border-radius $radius
  -moz-border-radius $radius
  border-radius $radius


.vehicle.messages
  > article div.item
    width:100%
    clear:both
    display:inline-table
    border-bottom:1px solid #ccc
    padding:30px
    font-weight:bold
    > span
      vertical-align:middle
      display:inline-table
      margin-right:20px
    > .image-placehoder
      width:70px
      height:40px
      border:1px solid #ccc
      background-color: #f4f4f4
    > .how-many
      rounded (10px)
      background-color blue
      padding 10px
      color white
    > .dealership
      color:#ccc