/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:473ef2510c1d72ac07d6f7c435bb1aa2$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(mobile-offers-sprites.png);}

.chevron-copy {width:9px; height:13px; background-position: -80px -18px}
.chevron {width:9px; height:13px; background-position: -80px -18px}
.message_Accept_Button {width:21px; height:19px; background-position: -25px -2px}
.message_Accept_Listing {width:15px; height:14px; background-position: -19px -44px}
.message_Accept_M {width:14px; height:12px; background-position: -68px -44px}
.message_Accept_MG {width:14px; height:12px; background-position: -54px -30px}
.message_Call_Button {width:13px; height:19px; background-position: -25px -23px}
.message_Decline_Button {width:21px; height:19px; background-position: -2px -23px}
.message_Decline_Listing {width:15px; height:14px; background-position: -2px -44px}
.message_Decline_M {width:14px; height:12px; background-position: -64px -2px}
.message_Decline_MG {width:14px; height:12px; background-position: -54px -16px}
.message_Message_Button {width:21px; height:19px; background-position: -2px -2px}
.message_Message_Listing {width:14px; height:14px; background-position: -36px -44px}
.message_Message_M {width:14px; height:12px; background-position: -48px -2px}
.message_Message_MG {width:14px; height:12px; background-position: -52px -44px}
.message_Offer_Button {width:12px; height:19px; background-position: -40px -23px}
.message_Offer_Listing {width:8px; height:14px; background-position: -70px -16px}
.message_Offer_M {width:8px; height:12px; background-position: -84px -47px}
.message_Offer_MG {width:8px; height:12px; background-position: -84px -33px}
.selling_highest_offer {width:10px; height:14px; background-position: -80px -2px}
.unread_Listing {width:8px; height:8px; background-position: -70px -32px}
